<div class="container border border-danger p-5 mt-5">
  <div class="row">
    <div class="col-6">
      Delicious Food es un restaurante en Menton, Francia, calificado con tres estrellas por la Guía Michelin. El restaurante está dirigido por el chef argentino Mauro Colagreco, quien trabajó anteriormente con Bernard Loiseau, Alain Passard, Alain Ducasse y Guy Martin. Abrió Delicious Food en 2006 a la edad de 29 años. Fue galardonado con su primera estrella Michelin en un año, seguido de la segunda estrella en 2012. En 2019, Colagreco se convirtió en el primer chef no nacido en Francia recibirá tres estrellas en la edición francesa de la Guía Michelin.
    </div>
    <div class="col-6">
      <img src="../assets/img/gastronomia.jpg" style="width: 500px;">
    </div>
  </div>
</div>

