<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Tipo</th>
      <th>Precio</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let food of foods" [ngClass]="{'sale': food.onSale}">
      <td>{{food.name}}</td>
      <td>{{food.type}}</td>
      <td>${{food.price}}</td>
      <td><span class="badge badge-success" *ngIf="food.onSale">¡OFERTA!</span></td>
      <td>
        <div class="form-group">
          <button type="button" class="btn btn-default btn-xs" (click)="downQuantity(food)">
            <span class="glyphicon glyphicon-minus" aria-hidden="true">-</span>
          </button>
          <input class="smallInput " type="number" [(ngModel)]="food.quantity" (keypress)="changeQuantity($event)">
          <button type="button" class="btn btn-default btn-xs" (click)="upQuantity(food)">
            <span class="glyphicon glyphicon-plus" aria-hidden="true">+</span>
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
