<p class="mt-2">Puede ordenar un maximo de 4 porciones de cada plato.</p>
<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Tipo</th>
      <th>Precio</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let food of foods" [ngClass]="{'sale': food.onSale}">
      <td>{{food.name}}</td>
      <td>{{food.type}}</td>
      <td>${{food.price}}</td>
      <td><span class="badge badge-success" *ngIf="food.onSale">¡OFERTA!</span></td>
      <td>
        <app-input-integer [(quantity)]="food.quantity" [max]="4" (maxReached)="maxReached($event)"></app-input-integer>
        Cant: {{food.quantity}}
      </td>
      <td><button class="btn btn-primary" (click)="addCart(food)">Comprar</button></td>
    </tr>
  </tbody>
</table>
