<p class="mt-2">Puede ordenar un maximo de 4 porciones de cada plato.</p>
<table class="table table-sm table-dark border border-danger">
  <thead>
    <tr class="bg-danger">
      <th>Nombre</th>
      <th>Precio</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let food of foods" [ngClass]="{'bg-success': food.onSale}">
      <td>{{food.name}}</td>
      <td>${{food.price}}</td>
      <td><span class="badge badge-warning" *ngIf="food.onSale">¡OFERTA!</span></td>
      <td>
        <app-input-integer [(quantity)]="food.quantity" [max]="4" (maxReached)="maxReached($event)"></app-input-integer>
      </td> 
      <td><button class="btn btn-light mt-2" (click)="addCart(food)">Comprar</button></td>
    </tr>
  </tbody>
</table>
