<table class="table table-sm table-dark border border-success mt-5">
  <thead>
    <tr class="bg-success">
      <th>Carrito</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let food of foods">
      <td>{{food.name}}</td>
      <td>x{{food.quantity}}</td>
      <td>${{food.price * food.quantity}}</td>
      <td><button type="button" class="btn btn-default btn-xs" (click)="removeFromCart(food)">
        <span class="text-danger">X</span>
      </button></td>
    </tr>
  </tbody>
</table>
<button class="btn btn-success" (click)="finalizarCompra()">Terminar compra</button>